@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300;1,400;1,500&family=Shantell+Sans:ital,wght@0,500;1,300;1,400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    color: whitesmoke;
    scroll-behavior: smooth;
}

:root {
    --prime: #00ff34;
}

body {
    background-color: #131b2b;
}

/*---------------style navbar---------*/
.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 30px 120px;
    background-color: transparent;
    justify-content: space-between;
    z-index: 1111;
    transition: 0.5s ease;
}

.navbar.sticky {
    padding: 6px 60px;
    background: #0c1518;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.navbar.sticky .logo {
    font-size: 2em;
    color: yellowgreen(54, 32, 218);
}

.logo {
    font-size: 2.8em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo B {
    color: yellow;
}

ol {
    display: flex;
    margin: auto 0;
}

ol li {
    list-style: none;
    margin-right: 20px;
}

ol li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}

ol li:hover a {
    color: yellow;
}

/*---------common size for all section---------*/
.view {
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-color: rgb(35, 28, 22);
}

/*------------style home section--------*/
.Home {
    display: flex;
    min-height: 120vh;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, 0 100%);
}

.banner {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(images/1244688.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

.highlights {
    width: 70%;
    position: relative;
    display: inline-block;
    z-index: 11;
}

.highlights h3 {
    display: inline;
    font-size: 2vw;
    padding: 1px 20px;
    font-weight: lighter;
    text-transform: capitalize;
    border-left: 6px solid yellow;
}

.highlights h1 {
    font-size: 9vw;
    text-align: center;
    font-weight: normal;
}

.highlights b {
    color: yellow;
    font-weight: 550;
    font-family: sans-serif;
}

.highlights .tagline {
    color: aliceblue;
    font-size: 1.2vw;
    text-align: center;
    font-weight: normal;
}

.highlights .join {
    position: absolute;
    left: 50%;
    transform: translate(-50px);
    font-weight: 800;
    padding: 5px 20px;
    font-size: 1.5vw;
    margin-top: 1.2em;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 50px;
    background: transparent;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.highlights .join:hover {
    color: blue;
    cursor: pointer;
    letter-spacing: 1.2px;
    background: yellow;
}

/*------------common styles for all section----------------*/
.main {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.main h2 {
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
}

span {
    color: red;
}

.main h2:before {
    position: absolute;
    content: '';
    background: yellow;
    height: 3px;
    width: 30%;
    right: -15px;
    bottom: 0;
    border-radius: 50px;
}

.main h6 {
    margin-top: 10px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
}

/*------------ style about section------------*/
.about .content .cols {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 70px;
}

.about .content .cols p b {
    font-size: 20px;
    margin-right: 2px;
}

.about .content .cols a {
    position: relative;
    top: 20px;
    color: brown;
    background: yellow;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.about .content .cols a:hover {
    color: black;
    background: blueviolet;
}

.about .content .cols .box {
    position: relative;
    height: 550px;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
}

.about .content .cols .box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.workout .content {
    flex-wrap: wrap;
}

.workout .content .frame {
    position: relative;
    width: 350px;
    padding: 20px;
    margin: 10px;
    background: black;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.workout .content .frame .box {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.workout .content .frame .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.2s ease-in;
}

.workout .content .frame .box:hover img {
    filter: brightness(100%);
    transform: scale(1.08);
}

.workout .content .frame .title {
    color: yellow;
    padding: 5px 0;
}

.workout .content .frame p {
    font-size: 0.8em;
}



.trainers .content {
    flex-wrap: wrap;
}

.trainers .content .frame {
    position: relative;
    width: 500px;
    padding: 30px 30px 40px 30px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.5);
    margin: 10px;
    overflow: hidden;
}

.trainers .content .frame .box {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.trainers .content .frame .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: 0.2s ease-in;
}

.trainers .content .frame .box:hover img {
    filter: grayscale(0);
    transform: scale(1.08);
}

.trainers .content .frame .headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.trainers .content .frame .headline i {
    height: 22px;
    width: 22px;
    border: 1.5px solid seashell;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    line-height: 22px;
}

.trainers .content .frame .headline i:hover {
    border: 1.5px solid yellow;
    background: yellow;
}

.trainers .content .frame .headline .title {
    color: yellow;
    font-size: 1.2em;
}

.trainers .content .frame p {
    font-size: 0.8em;
    position: relative;
    bottom: 5px;
}

.trainers .content .frame a {
    top: 20px;
    color: yellow;
    background: transparent;
    padding: 5px 20px;
    border: 1.5px solid yellow;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
    transition: 0.2s ease;
}

.trainers .content .frame a:hover {
    color: blueviolet;
    background: yellow;
}


.diet .content {
    flex-direction: column;
}

.diet .content .row {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
}

.diet .content .row:nth-child(odd) .a {
    order: 2;
}

.diet .content .row .cols {
    position: relative;
    width: 600px;
    padding: 20px 50px;
}

.diet .content .row .cols .heading {
    font-size: 2em;
    color: orange;
}

.diet .content .row :nth-child(odd) .cols.heading {
    color: rgb(0, 157, 255);
}

.diet .content .row .cols .boxes {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 20px;
    border-radius: 8px;
    background: whitesmoke;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.diet .content .row .cols .boxes img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contact .content {
    min-height: 100vh;
}

.contact .content form {
    margin: auto;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: wheat;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contact .content form input {
    color: #131b2b;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 15px 0;
    background: transparent;
}

.contact .content form textarea {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 15px 0;
    background: transparent;
}

.contact .content form input:focus,
.contact .content form textarea:focus {
    border: 2px solid yellowgreen;
    transition: 0.1s ease;
}

.contact .content form .btn {
    letter-spacing: 1px;
    width: 100px;
    display: inline-block;
    color: brown;
    border-color: yellow;
    cursor: pointer;
    transition: 0.2s;
}

.contact .content form .btn:hover {
    background: yellow;
    color: blue;
}

.contact .content .bgimg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(images/bgimg.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
}



.copyright {
    text-transform: capitalize;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: #222;
    text-align: center;
    font-size: 18px;
}

.copyright a {
    color: yellow;
    text-decoration: none;
    margin: 0 20;
    font-weight: lighter;
}




@media screen and (max-width:900px) {
    .navbar {
        padding: 0 60px;
    }

    .navbar ol {
        display: none;
    }

    .navbar ol.active {
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        position: fixed;
        background: #222;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 60px);
    }

    .navbar ol.active li {
        margin: 8px;
    }

    .navbar ol.active li a {
        font-size: 25px;
    }

    .navbar .toggle {
        height: 25px;
        width: 25px;
        margin: auto 0;
        cursor: pointer;
        background: url(images/menubar.jpg);
        background-size: 25px;
        background-position: center;
        filter: invert(1);
        background-repeat: no-repeat;
    }

    .navbar .toggle.active {
        background: url(images/close.png);
        background-size: 40px;
        background-position: center;
        cursor: pointer;
        filter: invert(1);
    }

    .highlights h3 {
        font-size: 3vw;
        padding: 5px 10px;
        border-left: 3px solid yellow;
    }

    .highlights h1 {
        font-size: 16vw;
    }

    .highlights .join {
        font-size: 1.8vw;
        border: 1px solid yellow;
    }

    .main h2 {
        font-size: 1.5rem;
    }

    .main h6 {
        font-size: 10px;
    }

    .about .content {
        flex-direction: column;
    }

    .workout .content .frame {
        width: 260px;
        padding: 18px;
    }

    .trainers .content .frame {
        width: 350px;
        padding: 15px 15px 40px 15px;
        margin: 10px 5px;
    }

    .trainers .content .frame .box {
        height: 200px;
    }

    .trainers .content .frame a {
        border: 1.5px solid yellow;
        padding: 3px 15px;
    }

    .diet .content .row {
        flex-direction: column;
    }

    .diet .content .row .cols {
        width: 100%;
    }

    .diet .content .row:nth-child(odd) .a {
        order: 0;
    }

    .diet .content .row .cols .heading {
        font-size: 1.5em;
    }

    .diet .content .row .cols p {
        font-size: 13px;
    }

    .diet .content .row .cols .boxes {
        width: 90%;
        margin: auto;
    }
}